.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 300px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 600px;
}
  
  
  .signup-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .signup-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .otp-button {
    background-color: #45A049; 
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #45A049;
    width: 166px;
    margin-left: 192px;
  }
  
  .signup-button {
    background-color: #45A049; 
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #45A049;
    width: 166px;
    margin-left: 192px;
  }



  